body {
  background-color: darkblue;
  width: 50%;
  margin: auto;
}

h1 {
  color: lightblue;
  text-align: center;
  font-size: 60px;
  
}

.section {
  border: solid black 6px;
  padding: 10px;
  margin: 5px;
  background-color: lightblue
}

.section:hover {
  font-weight: bold;
}