body {
  background-color: darkblue !important;
  margin: auto !important;
  width: 90%;
  text-align: center;
}

h1 {
  color: white !important;
  text-align: center;
  font-size: 60px;
  
}

.section {
  border: solid black 6px;
  padding: 10px;

  background-color: lightblue;
  box-sizing: border-box;
  height: 200px;
}

.section:hover {
  font-weight: bold;
}